In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
           {'Team': ['Reds', 'Reds', 'Reds', 'Reds', 'Reds', 'Reds',
                     'Reds', 'Blues', 'Blues', 'Blues', 'Blues',
                     'Blues', 'Blues', 'Blues'], 
            'Position': ['Pitcher', 'Pitcher', 'Pitcher', 'Center Field',
                         'Center Field', 'Center Field', 'Center Field',
                         'Pitcher', 'Pitcher', 'Pitcher', 'Center Field',
                         'Center Field', 'Center Field', 'Center Field'],
            'Throw Arm': ['Left', 'Right', 'Right', 'Left', 'Left',
                          'Right', 'Left', 'Left', 'Right', 'Right',
                          'Right', 'Left', 'Left', 'Left',],
            'Throwing Speed': [80, 75, 69, 71, 68, 59, 80,
                               81, 74, 68, 70, 79, 76, 73],
            'Running Speed': [19, 20, 18, 17, 19, 20, 16,
                              16, 19, 20, 19, 20, 21, 17]})

In [3]:
df

     Team      Position Throw Arm  Throwing Speed  Running Speed
0    Reds       Pitcher      Left              80             19
1    Reds       Pitcher     Right              75             20
2    Reds       Pitcher     Right              69             18
3    Reds  Center Field      Left              71             17
4    Reds  Center Field      Left              68             19
5    Reds  Center Field     Right              59             20
6    Reds  Center Field      Left              80             16
7   Blues       Pitcher      Left              81             16
8   Blues       Pitcher     Right              74             19
9   Blues       Pitcher     Right              68             20
10  Blues  Center Field     Right              70             19
11  Blues  Center Field      Left              79             20
12  Blues  Center Field      Left              76             21
13  Blues  Center Field      Left              73             17

In [4]:
pd.pivot_table(df, values='Throwing Speed', 
               index='Team', aggfunc=np.mean)

       Throwing Speed
Team
Blues       74.428571
Reds        71.714286

In [5]:
pd.pivot_table(df, values='Throwing Speed', 
               index=['Team', 'Position'], aggfunc=np.mean)

                    Throwing Speed
Team  Position
Blues Center Field       74.500000
      Pitcher            74.333333
Reds  Center Field       69.500000
      Pitcher            74.666667

In [6]:
pd.pivot_table(df, values='Throwing Speed', 
               index=['Team', 'Position', 'Throw Arm'], aggfunc=np.mean)

                              Throwing Speed
Team  Position     Throw Arm
Blues Center Field Left                   76
                   Right                  70
      Pitcher      Left                   81
                   Right                  71
Reds  Center Field Left                   73
                   Right                  59
      Pitcher      Left                   80
                   Right                  72

In [7]:
pd.pivot_table(df, values='Throwing Speed', index=['Team', 'Position'], 
               columns = ['Throw Arm'], aggfunc=np.mean)

Throw Arm           Left  Right
Team  Position
Blues Center Field    76     70
      Pitcher         81     71
Reds  Center Field    73     59
      Pitcher         80     72

In [8]:
pd.pivot_table(df, values='Throwing Speed', index=['Team', 'Position'], 
               columns = ['Throw Arm'], aggfunc=np.max)

Throw Arm           Left  Right
Team  Position
Blues Center Field    79     70
      Pitcher         81     74
Reds  Center Field    80     59
      Pitcher         80     75

In [9]:
pd.pivot_table(df, values=['Throwing Speed', 'Running Speed'], 
               index=['Team', 'Position'], columns = ['Throw Arm'], 
               aggfunc={'Throwing Speed': np.mean, 
                        'Running Speed': np.median})

                   Running Speed       Throwing Speed
Throw Arm                   Left Right           Left Right
Team  Position
Blues Center Field          20.0  19.0             76    70
      Pitcher               16.0  19.5             81    71
Reds  Center Field          17.0  20.0             73    59
      Pitcher               19.0  19.0             80    72

In [10]:
pd.pivot_table(df, values=['Throwing Speed', 'Running Speed'],
               index=['Team', 'Position'], columns = ['Throw Arm'],
               aggfunc={'Throwing Speed': np.mean,
                        'Running Speed': [np.min, np.max, np.median]})

                   Running Speed                                 \
                            amax        amin       median
Throw Arm                   Left Right  Left Right   Left Right
Team  Position
Blues Center Field          21.0  19.0  17.0  19.0   20.0  19.0
      Pitcher               16.0  20.0  16.0  19.0   16.0  19.5
Reds  Center Field          19.0  20.0  16.0  20.0   17.0  20.0
      Pitcher               19.0  20.0  19.0  18.0   19.0  19.0

                   Throwing Speed
                             mean
Throw Arm                    Left Right
Team  Position
Blues Center Field           76.0  70.0
      Pitcher                81.0  71.0
Reds  Center Field           73.0  59.0
      Pitcher                80.0  72.0